header {
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 20px;
    background-color: rgb(14, 62, 110);
    color:white;
    opacity: 0.9;
    height: 150px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}